.products .products__title {
  padding-left: 36px;

  text-align: left;

  font-family: sans-serif;
  font-size: 44px;
  font-weight: 100;

  color: #49416c;
}

.products .products__container {
  padding: 0 12%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.products .products__container .products__counter {
  text-align: left;

  font-family: sans-serif;
  font-size: 18px;

  color: #a4a4a4;
}

.products .products__container .products__counter p {
  display: inline-block;
  margin-bottom: 24px;
  padding-bottom: 5px;
  border-bottom: 3px solid #e5bd75;
}

.products .products__pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.products .products__pagination-wrapper .products__quantity-selector select {
  display: block;
  padding: 16px 40px 16px 16px;
  border: 1px solid #e8e8e8;

  background-color: white;

  font-family: sans-serif;
  font-size: 14px;
  color: #898989;

  appearance: none;
}

.products .products__pagination-wrapper .products__quantity-selector {
  position: relative;
}

.products .products__pagination-wrapper .products__quantity-selector::after {
  content: ' ';
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .products .products__container {
    padding: 0 6%;
  }
}