ul {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #898989;
}

ul li {
  padding: 8px 14px;
  margin: 0 4px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

ul li.active {
  border-color: #898989;
}

ul li.disabled {
  color: #c4c4c4;
  cursor: default;
}

ul li:hover {
  border-color: #c4c4c4;
  
}

ul li.disabled:hover {
  color: #c4c4c4;
  border-color: #fff;
}