.header {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.header .header__logo {
  max-width: 140px;
  padding-left: 30px;
}

.header .header__logo svg {
  fill: rgb(128, 108, 92);
}

.header .header__search {
  padding-right: 30px;
}