.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 20px;
}

.product .product__content {
  display: flex;
  align-items: center;
}

.product .product__images {
  display: flex;
}

.product .product__images img {
  width: 80px;
  height: 80px;
  margin: 0 5px;
}

.product .product__info {
  text-align: left;
  margin-left: 24px;
}
.product .info .info__title {
  color: #343434;
  font-weight: 600;
}
.product .info .info__description {
  color: #898989;
  font-size: 14px;
}

.product .price p {
  color: #7e7e7e;
}
.product .price p .price__old {
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  .product {
    margin: 5px;
  }

  .product .product__images img {
    display: none;
  }

  .product .product__images img:first-of-type {
    display: block;
  }

  .product .product__info {
    margin-left: 16px;
  }
}
