.product-list {
  width: 100%;
}

.product-list .product-list__item {
  display: flex;
  border: 1px solid #e8e8e8;
  border-bottom: none;
}

.product-list .product-list__item:last-child {
  border-bottom: 1px solid #e8e8e8;
}