.search {
  width: 450px;
  padding-left: 10px;
}

.search .search__input {
  height: 30px;
  width: 100%;
  padding-left: 55px;
  box-sizing: border-box;

  border: 1px solid #c4c4c4;
  border-radius: 20px;

  outline: none;
}

.search .search__icon {
  display: block;
  position: absolute;
  width: 25px;
  height: 30px;
  padding-left: 10px;
}

.search .search__icon path {
  fill: rgb(142, 142, 142);
}

@media screen and (max-width: 768px) {
  .search {
    width: 240px;
  }
}